.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    padding: 0.84rem 1.14rem;
    word-wrap: break-word;
    white-space: normal;
    border: none;
    border-radius: 0.125rem;
    font-size: 0.83rem;
    text-transform: uppercase;
    font-family: "sans-serif";
    font-weight: bold;
}

.btn.filled {
    color: #fff;
    background-color: #4285f4;
}

.btn.outlined {
    color: #4285f4 !important;
    background-color: transparent;
    border: 2px solid #4285f4 !important;
}

.btn:hover {
    box-shadow: 0px 0px 2px 1px rgb(0, 0, 0, 0.5);
    cursor: pointer;
}