:root {
  --main-background-color: #9c88ff;
  --header-height: 50px;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vmin;
  display: block;
  flex-direction: column;
  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.app__header {
  top: 0px;
  left: 0px;
  height: 50px;
  position: sticky;
  z-index: 1000;
}

.app__body {
  height: calc(100vh - 50px);
  overflow: scroll;
  background-color: var(--main-background-color);
  /* background-image: url("images/bg-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
}